<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/fleet_layout}">
<head> 
    <title>Car Schedule</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="page_content">
        <div class="card">
            <div class="card-header">Car Schedule Details: 
            </div>
            <table class="table table-bordered mb-0" >
                <tr>
                    <td>ID</td>
                    <td th:text="${item.id}">01</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td th:text="${item.description}">01</td>
                </tr>
                <tr>
                    <td>Car</td>
                    <td th:text="${item.car.model}">01</td>
                </tr>
                <tr>
                    <td>Driver</td>
                    <td th:text="${item.driver.shortName}">01</td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td th:text="${item.owner.shortName}">01</td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td th:text="${#dates.format(item.startDate, 'dd MMM yyyy - HH:mm')}">01</td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td th:text="${#dates.format(item.endDate, 'dd MMM yyyy - HH:mm')}">01</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td th:text="${#dates.format(item.creationDate, 'dd MMM yyyy - HH:mm')}">01</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
