<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/fleet_layout}">

<head>
    <title>Edit Brand</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div layout:fragment="page_content">
        <div class="card">
            <div class="card-header">Brand Form</div>
            <div class="card-body">
                <form action="#" th:action="@{/carBrands/edit}" th:object="${form}" method="post">
                    <div class="form-group">
                        <label for="">Brand</label>
                        <input type="text" class="form-control" th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="">ID</label>
                        <input type="text" class="form-control" th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control" th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label for="">Creation Date</label>
                        <input type="text" class="form-control" th:field="*{creationDate}">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>