<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/fleet_layout}">
<head> 
    <title>Users</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="page_content">
        <div class="card mb-4">
            <div class="card-body">
                <a href="" th:href="@{/user-types}" class="btn btn-primary"> User Types </a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Users List: 
                <span th:text="${#lists.size(list)}" class="float-right">Users number</span>
            </div>
            <div th:if="${!list.empty}">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Short Name</th>
                            <th>Type</th>
                            <th>creation date</th>
                            <th class="text-right">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${list}">
                            <td th:text="${item.id}">id</td>
                            <td th:text="${item.shortName}">model</td>
                            <td th:text="${item?.userType?.title}">brand</td>
                            <td th:text="${#dates.format(item.creationDate, 'dd-MM-yyyy hh:mm')}">2008</td>
                            <td class="text-right">
                                <a href="" th:href="@{/app-users/{id}(id=${item.id})}" class="btn btn-info"><i class="fa fa-search"></i></a>
                                <a href="" th:href="@{/app-users/edit/{id}(id=${item.id})}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                <a href="" th:href="@{/app-users/delete/{id}(id=${item.id})}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body text-center" th:if="${list.empty}">
                Empty
            </div>
            <div class="card-footer">
                    <a href="" th:href="@{/app-users/create}" class="btn btn-primary"> Create User </a>
            </div>
        </div>
    </div>
</body>
</html>
